// Fonts
$font-weight-regular: 400;
$font-weight-semibold: 600;
$font-weight-bold: 700;


// Colors
$black: #13182C;
$blue: #6fbff0;
$white: #FFFFFF;
$slate: #5C667E;
$cloud: #BDC5D5;
$dark-blue: #354278;
$light-grey: #F7F8F9;
$red: #C94515;
$grey: #e0e0e0;
